h1 { 
    color: var(--orange);
    letter-spacing: 2px;
    margin: 40px;
}
#workout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 10px;
    margin-top: 50px;
}
#name-label, #date-label, #duration-label, #intensity-label, #name, #date, #duration, #intensity {
    margin: 0px;
}
#name-label, #date-label, #duration-label, #intensity-label, .exercise-label, .weight-label, .sets-label, .reps-label, .weight-label {
    text-align: right;
    margin-right: 20px;
    align-self: center;
    grid-column: 1/2;
}
#name, #date, #duration, #intensity, .exercise, .weight, .sets, .reps, .unit {
    max-width: 300px;
    border: solid black 1px;
    border-radius: 5px;
    grid-column: 2/3;
}
#name, #date, #duration, .weight, .sets, .reps, .unit {
    max-width: 296px;
}
#exercise-box {
    grid-column: 1/3;
    max-width: 630px;
    justify-self: center;
    width: 100%;
}
.exercise-info {
    display: grid;
    border-top: var(--navy) 1px solid;
    grid-template-columns: 1fr 1fr;
    row-gap: 15px;
    width: 100%;
    margin-top: 10px;
    padding: 15px 0;
    padding-bottom: 5px;
    position: relative;
}
.remove {
    color: red;
    position: absolute;
    left: 20px;
    top: 7px;
    font-size: 0.8em;
    cursor: pointer;
}
.exercise-label, .weight-label, .sets-label, .reps-label {
    grid-column: 1/2;
}
.exercise, .weight, .sets, .reps {
    grid-column: 2/3;
}
.weight-group {
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.weight-label {
    grid-column: 1/2;
}
.weight-input {
    grid-column: 2/3;
    justify-self: start;
}
.weight {
    width: 100px;
}
.unit {
    width: 75px;
}
#add-exercise {
    grid-column: 1/3;
    width: 200px;
    justify-self: center;
    border: 2px solid var(--orange);
    background-color: var(--gray);
}
#add-exercise:hover {
    cursor: pointer;
}
#submit {
    align-self: center;
    justify-self: center;
    width: 125px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: #F8F9FA;
    grid-column: 1/3;
}
#submit:hover {
    cursor: pointer;
    background-color: #FF6B35;
}

@media screen and (min-width: 1200px) {
    .exercise-info {
        border: 1px var(--navy) solid;
        padding-bottom: 15px;
    }
    .remove:active {
    font-size: 0.75em;
    }
}