main {
    width: 100%;
}
h1 {
    color: var(--orange);
    margin-top: 30px;
    letter-spacing: 2px;
    font-size: 2.3em;
}
.workout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40px auto;
    column-gap: 20px;
    border: 1px black solid;
    width: 95%;
    max-width: 500px;
    margin: 0 auto 20px;
}
.name {
    grid-column: 1/3;
    font-size: 1.3em;
    font-weight: 500;
}
.name:hover {
    cursor: pointer;
}
.duration {
    text-align: right;
}
.intensity {
    text-align: left;
}
.duration, .intensity {
    font-size: 1.1em;
}

#modal {
    width: 100%;
    height: 100%;
    max-width: none;
    max-height: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    position: relative;
}
#closeX {
    font-size: 3em;
    position: absolute;
    right: 50px;
    top: 20px;
    margin: 0;
    display: none;
}
#back {
    position: absolute;
    right: 50px;
    top: 20px;
    border: 1px black solid;
    padding: 5px;
    border-radius: 3px;
}
#back:hover {
    color: var(--orange);
}
.close:hover {
    cursor: pointer;
}
.modalInfo {
    padding-top: 80px;
}
.modalWorkout {
    text-align: center;
}
.modalName {
    font-weight: 600;
    color: var(--orange);
}
.modalDuration, .modalIntensity {
    display: inline;
    margin: 15px;
}
.modalName, .modalDuration, .modalIntensity, .exercise, .weight, .sets, .reps {
    font-size: 1.5em;
}
.exercise-info {
    width: 80%;
    margin: 20px auto 0; 
    border-top: 1px solid black;
}
.sets, .reps {
    display: inline;
    margin: 15px
}


@media screen and (min-width: 900px){
    main {
        width: 80%;
    }
    #workouts {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    #modal {
        border-radius: 20px;
        height: 800px;
        border: black 5px solid;
        margin: auto;
        width: 650px;
    }
    #closeX {
        display: block;
    }
    #back {
        display: none;
    }
    .modalInfo{
        padding-top: 30px;
    }
}

@media screen and (min-width: 1200px){

}