@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --navy: #0D2C54;
    --orange: #FF6B35;
    --lightgrey: #F8F9FA;
    --teal: #00BFA5;
}

#content {
    margin-top: 25px;
}
#buttons {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    margin-bottom: 70px;
}
#widgets {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
}
#progress, #log, #history {
    padding: 40px;
    margin: 10px auto;
    color: black;
    text-decoration: none;
    text-align: center;
    align-self: center;
    justify-self: center;
    border: 5px grey solid;
    width: 60%;
    font-size: 1.5em;
}
#workouts-week, #workouts-month, #prs {
    padding: 40px;
    margin: 10px auto;
    text-align: center;
    align-self: center;
    justify-self: center;
    border: 5px grey solid;
    height: 100px;
    width: 200px;
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
}
#widgets p {
    margin: auto 0;
}
#prs {
    text-align: left;
}
.info {
    color: var(--orange);
    font-weight: 500;
}
#workouts-week .info, #workouts-month .info {
    font-size: 2em;
}
#progress:hover, #log:hover, #history:hover {
    background-color: #FF6B35;
    border: 3px grey solid;
}

@media screen and (min-width: 1200px) {
    #buttons {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }
    #widgets {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }
}