@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


h1 {
    margin-top: 50px;
}
h2 {
    margin: 30px 0 80px;
}
#login-box {
    margin: 0 auto;
    width: 80%;
    max-width: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 100px;
    row-gap: 20px;
}
#login-form {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 25px 25px 50px;
    grid-column: 1/3;
    grid-row: 1/3;
    align-items: center;
    row-gap: 20px;
    margin: 0 auto;
}
#email-label {
    grid-row: 1/2;
    justify-self: end;
    padding-right: 30px;
}
#email {
    grid-row: 1/2;
    width: 100%;
}
#password-label {
    grid-row: 2/3;
    justify-self: end;
    padding-right: 30px;
}
#password {
    grid-row: 2/3;
    width: 100%;

}
#email-label, #email, #password-label, #password {
    font-size: 20px;
}
#submit {
    grid-row: 3/4;
    grid-column: 1/3;
    background-color: #F8F9FA;
    border-radius: 20px;
    width: 80px;
    height: 30px;
    justify-self: center;
    align-self: center;
    border: 1px solid black;
    font-size: 1em;
}
#submit:hover {
    cursor: pointer;
    background-color: #FF6B35;
}
#create-account {
    grid-column: 1/2;
    grid-row: 2/3;
    justify-self: end;
}
#forgot-password {
    grid-column: 2/3;
    grid-row: 2/3;
    justify-self: start;
}
#email, #password {
    border: solid black 1px;
    border-radius: 5px;
}
#create-account, #forgot-password {
    color: black;
    align-self: center;  
    margin: 20%;
}
#create-account:hover, #forgot-password:hover {
    cursor: pointer;
}