#login-box {
    margin: 0 auto;
    height: 100px;
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 25px;
    row-gap: 20px;
}
#login-form {
    height: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 10px 1fr 1fr;
    grid-template-rows: 25px auto;
    grid-column: 1/3;
    grid-row: 1/3;
    align-items: center;
    column-gap: 5px;
    row-gap: 5px;
}
#email-label {
    grid-column: 1/2;
    grid-row: 1/2;
}
#email {
    grid-column: 2/3;
    grid-row: 1/2;
}
#password-label {
    grid-column: 4/5;
    grid-row: 1/2;
}
#password {
    grid-column: 5/6;
    grid-row: 1/2;
}
#submit {
    grid-column: 1/6;
    grid-row: 2/3;
    background-color: rgb(227, 227, 227);
    border-radius: 10px;
    width: 60px;
    justify-self: center;
    border: 1px solid black;
}
#submit:active {
    background-color: rgb(207, 207, 207);
}
#submit:hover {
    cursor: pointer;
}
#create-account {
    grid-column: 1/2;
    grid-row: 2/3;
}
#forgot-password {
    grid-column: 2/3;
    grid-row: 2/3;
}
#email, #password {
    border: solid black 1px;
    border-radius: 5px;
}
#create-account, #forgot-password {
    color: black;
    justify-self: center; 
    align-self: center;  
}
#create-account:hover, #forgot-password:hover {
    cursor: pointer;
}