@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

#content {
    margin-bottom: 80px;
}
h1, h2 {
    font-family: 'Montserrat', verdana;
}
h1 {
    margin-top: 50px;
}
h2 {
    margin: 30px 0 80px;
}

#login-box {
    margin: 0 auto;
    height: 100px;
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 80px;
    row-gap: 20px;
}
#login-form {
    height: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 10px 1fr 1fr;
    grid-template-rows: 25px 50px;
    grid-column: 1/3;
    grid-row: 1/3;
    align-items: center;
    justify-self: center;
    column-gap: 5px;
    row-gap: 5px;
}
#email-label {
    grid-column: 1/2;
    grid-row: 1/2;
}
#email {
    grid-column: 2/3;
    grid-row: 1/2;
}
#password-label {
    grid-column: 4/5;
    grid-row: 1/2;
}
#password {
    grid-column: 5/6;
    grid-row: 1/2;
}
#submit {
    grid-column: 1/6;
    grid-row: 2/3;
    background-color: rgb(227, 227, 227);
    border-radius: 10px;
    width: 60px;
    justify-self: center;
    align-self: center;
    border: 1px solid black;
}
#submit:active {
    background-color: rgb(207, 207, 207);
}
#submit:hover {
    cursor: pointer;
}
#create-account {
    grid-column: 1/2;
    grid-row: 2/3;
}
#forgot-password {
    grid-column: 2/3;
    grid-row: 2/3;
}
#email, #password {
    border: solid black 1px;
    border-radius: 5px;
}
#create-account, #forgot-password {
    color: black;
    justify-self: center; 
    align-self: center;  
}
#create-account:hover, #forgot-password:hover {
    cursor: pointer;
}