#workout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 25px;
    margin-top: 50px;
}
#date-label, #duration-label, #intensity-label, #exercise-label, #weight-label, #sets-label, #reps-label, #weight-label {
    text-align: right;
    margin-right: 20px;
    align-self: center;
    grid-column: 1/2;
}
#date, #duration, #intensity, #exercise, #weight, #sets, #reps, #weight, #unit {
    max-width: 300px;
    border: solid black 1px;
    border-radius: 5px;
    grid-column: 2/3;
}
#date, #duration, #weight, #sets, #reps, #weight, #unit {
    max-width: 296px;
}

#exercise-info{
    grid-column: 1/3;
    border: 1px var(--navy) solid;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 15px;
    padding: 10px;
    width: 100%;
    max-width: 700px;
    justify-self: center;
    box-sizing: border-box;
}
#exercise-label, #weight-label, #sets-label, #reps-label {
    grid-column: 1/2;
}
#exercise, #weight, #sets, #reps {
    grid-column: 2/3;
}
#weight-group {
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#weight-label {
    grid-column: 1/2;
}
#weight-input {
    grid-column: 2/3;
    justify-self: start;
}
#weight {
    width: 100px;
}
#unit {
    width: 75px;
}
#add-exercise {
    grid-column: 1/3;
    width: 100%;
    max-width: 700px;
    justify-self: center;
}
#add-exercise:hover {
    cursor: pointer;
}
#submit {
    align-self: center;
    justify-self: center;
    width: 125px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: #F8F9FA;
    grid-column: 1/3;
}
#submit:hover {
    cursor: pointer;
    background-color: #FF6B35;
}