#reset {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 40px;
    margin-top: 70px;
}


#submit {
    grid-column: 1/3;
    grid-row: 3/4;
    align-self: center;
    justify-self: center;
    width: 100px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: #F8F9FA;
}
#submit:hover {
    cursor: pointer;
    background-color: #FF6B35;
}
#pw-label, #confirm-pw-label {
    text-align: right;
    margin-right: 20px;
    align-self: center;
}
#pw, #confirm-pw {
    max-width: 300px;
    border: solid black 1px;
    border-radius: 5px;
}

