/* fonts:
Montserrat for headers
Work Sans for body 
*/

/* colors
navy: #0D2C54
orange: #FF6B35
light grey: #F8F9FA
teal: #00BFA5 
*/

main {
    max-width: 60%;
    margin: 0 auto;
    text-align: center;
}
#login-box {
    margin: 0 auto;
    height: 300px;
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
#login-form {
    height: 200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column: 1/3;
    grid-row: 1/3;
}
#email-label {
    grid-column: 1/2;
    grid-row: 1/2;
}
#email {
    grid-column: 2/3;
    grid-row: 1/2;
}
#password-label {
    grid-column: 3/4;
    grid-row: 1/2;
}
#password {
    grid-column: 4/5;
    grid-row: 1/2;
}
#submit {
    grid-column: 1/5;
    grid-row: 2/3;
}
#create-account {
    grid-column: 1/2;
    grid-row: 3/4;
}
#forgot-password {
    grid-column: 2/3;
    grid-row: 3/4;
}
footer {
    margin: 0 auto;
    text-align: center;
}