/* fonts:
Montserrat for headers
Work Sans for body 
*/

/* colors
navy: #0D2C54
orange: #FF6B35
light grey: #F8F9FA
teal: #00BFA5 
*/

main {
    max-width: 60%;
    margin: 0 auto;
    text-align: center;
}
footer {
    background-color: #FF6B35;
    margin: 0 auto;
    text-align: center;
}