#modal {
    width: 100%;
    height: 100%;
    max-width: 1000px;
    border: black 5px solid;
    border-radius: 20px;
}


@media screen and (min-width: 1200px){
    #modal {
        height: 800px;

    }
}