#modal {
    width: 100%;
    height: 100%;
    max-width: none;
    max-height: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    position: relative;
}
#closeX {
    font-size: 3em;
    position: absolute;
    right: 50px;
    top: 20px;
    margin: 0;
    display: none;
}
#back {
    position: absolute;
    right: 50px;
    top: 20px;
    border: 1px black solid;
    padding: 5px;
}
.close:hover {
    cursor: pointer;
}
.modalInfo{
    padding-top: 80px;
}

@media screen and (min-width: 700px){
    #modal {
        border-radius: 20px;
        height: 800px;
        border: black 5px solid;
        margin: auto;
        width: 650px;
    }
    #closeX {
        display: block;
    }
    #back {
        display: none;
    }
    .modalInfo{
        padding-top: 30px;
    }
}

@media screen and (min-width: 1200px){

}